backend:
  name: github
  repo: alberto56/presentation_technical_approach
  branch: master
  base_url: https://app.staticauth.com
  auth_endpoint: /auth/github/repo/696663d78a3239f204717620
media_folder: static/uploads
public_folder: /uploads
collections:
  - name: blog
    label: Blog
    folder: content/blog
    create: true
    slug: '{{slug}}'
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: date
        widget: datetime
      - label: Body
        name: body
        widget: markdown
